:root{
  body {
    $primary: #4B88A1;
    $secondary: #617073;
    $danger: #840032;
    &.dark {
      $black: #000000;
      $white: #FEFEFE;
      // Color Classes
      .black{
        color:$black;
      }
      .white{
        color:$white;
      }
      .primary{
        color:$primary;
      }
      .secondary{
        color:$secondary;
      }
      .danger{
        color:$danger;
      }

      .bg-black{
        background-color: $black;
      }
      .bg-white{
        background-color:$white;
      }
      .bg-primary{
        background-color:$primary;
      }
      .bg-secondary{
        background-color:$secondary
      }
      .bg-danger{
        background-color:$danger;
      }
    }
    &.light{
      $black: #FEFEFE;
      $white: #000000;
      .black{
        color:$black;
      }
      .white{
        color:$white;
      }
      .primary{
        color:$primary;
      }
      .secondary{
        color:$secondary;
      }
      .danger{
        color:$danger;
      }

      .bg-black{
        background-color: $black;
      }
      .bg-white{
        background-color:$white;
      }
      .bg-primary{
        background-color:$primary;
      }
      .bg-secondary{
        background-color:$secondary
      }
      .bg-danger{
        background-color:$danger;
      }
    }
  }
}
